@font-face {
  font-family: 'iconfont';  /* project id 2163247 */
  src: url('//at.alicdn.com/t/font_2163247_wqz5wx6i6mg.eot');
  src: url('//at.alicdn.com/t/font_2163247_wqz5wx6i6mg.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_2163247_wqz5wx6i6mg.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_2163247_wqz5wx6i6mg.woff') format('woff'),
  url('//at.alicdn.com/t/font_2163247_wqz5wx6i6mg.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_2163247_wqz5wx6i6mg.svg#iconfont') format('svg');
}



.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shangdian-:before {
  content: "\e60f";
}

